<a href="https://colab.research.google.com/github/leethanhvaan20302/desktop-tutorial/blob/main/HWW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
"""data
năm
thành phố diễn ra 
môn thể thao
tìm 1 nước
tổng số huy chương
boa nhiêu huy chương vàng
...
"""
data.head(20) # hiển thị 20 hàng data đầu

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
5,1924,Chamonix,Biathlon,Biathlon,FIN,military patrol,M,Silver
6,1924,Chamonix,Skating,Figure skating,FIN,pairs,X,Silver
7,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
8,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Silver
9,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
10,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Gold
11,1924,Chamonix,Skating,Speed skating,FIN,5000m,M,Silver
12,1924,Chamonix,Skating,Speed skating,FIN,500m,M,Bronze
13,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Bronze
14,1924,Chamonix,Skating,Speed skating,FIN,combined (4 events),M,Gold
15,1924,Chamonix,Skiing,Cross Country S,FIN,18km,M,Bronze
16,1924,Chamonix,Biathlon,Biathlon,FRA,military patrol,M,Bronze
17,1924,Chamonix,Curling,Curling,FRA,curling,M,Bronze
18,1924,Chamonix,Skating,Figure skating,FRA,pairs,X,Bronze
19,1924,Chamonix,Bobsleigh,Bobsleigh,GBR,four-man,M,Silver

In [23]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)

m= data['Year'].min() #Năm đầu tiên diễn ra  
print('Năm đầu tiên diễn ra olympic: ',m,'\n' )

print('Năm diễn ra olympic vừa được ghi nhận: ',data['Year'].max())

Năm đầu tiên diễn ra olympic:  1924

Năm diễn ra olympic vừa được ghi nhận:  2006

In [24]:
# Mảng các thành phố diễn ra olympic 
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data['City'].unique()

array(['Chamonix', 'St. Moritz', 'Lake Placid', 'Garmisch-Partenkirchen',
       'Oslo', "Cortina d'Ampezzo", 'Squaw Valley', 'Innsbruck',
       'Grenoble', 'Sapporo', 'Sarajevo', 'Calgary', 'Albertville',
       'Lillehammer', 'Nagano', 'Salt Lake City', 'Turin'], dtype=object)

In [25]:
# Mảng các môn thể thao diễn ra olympic 
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data['Sport'].unique()

array(['Skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon', 'Skiing',
       'Curling', 'Luge'], dtype=object)

In [26]:
# Mảng các kỷ luật môn thể thao diễn ra olympic 
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data['Discipline'].unique()

array(['Figure skating', 'Bobsleigh', 'Ice Hockey', 'Biathlon',
       'Speed skating', 'Cross Country S', 'Curling', 'Nordic Combined',
       'Ski Jumping', 'Skeleton', 'Alpine Skiing', 'Luge',
       'Short Track S.', 'Freestyle Ski.', 'Snowboard'], dtype=object)

In [33]:
#Tổng số các huy chương được trao trong olympic 
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data['Medal'].count()

2311

In [30]:
#Tổng số các huy chương Gold, Silver, Bronze được trao trong olympic 
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data= pd.read_csv(url)
data['Medal'].value_counts()

Gold      774
Silver    773
Bronze    764
Name: Medal, dtype: int64